name: Build and deploy website

on:
  schedule:
    - cron: '0 06 * * *'
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  build_website:
    # Only run if documentation was built successfully (if it is skipped, it is not successful)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r website/requirements.txt
      - name: Prepare docs for the website
        run: |
          python website/docs/prepare_docs.py
      - name: Build Sphinx website
        run: |
          sphinx-build -b html website/docs/source website/docs/build
      - name: Upload website artifact
        uses: actions/upload-artifact@v4
        with:
          name: website
          path: website/docs/build/
